*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo1{
    margin-left: -10px;
    margin-top: 30px;
}
header{
    display: flex;
    margin-left: 100px;
}
body{
    background-image: url(../img/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox1{
    display: flex;
    align-items: center;
    width: 1200px;
}

.surati1{
    margin-top: 120px;
    margin-left: 80px;
}

.text{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-weight: bold;
    padding: 0px 40px;
    font-size: 17px;
    margin-left: -5px;
    margin-top: 80px;
    letter-spacing: 2px;
}

.flexbox2 img{
    width: 130px;
}

.flexbox2{
    margin-left: 80px;
    margin-top: 30px;
}

.shopnow{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.shopnow a{
    border: 5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 30px;
}

footer{
    background-color: rgba(255, 255, 255, 0.4);
    height: 60px;
    margin-top: 80px;
}

.rights{
    color: white;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 50px;
}

img{
    margin-left: 50px;
}
nav{
    margin: 30px 60px;
}
nav ul{
    width: 100%;
    display: flex;
    margin-left: 0px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 30px;
    margin-top: 50px;
    font-weight: bold;
}

.hs {
    margin-left: 250px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

.hs a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}

.hs p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 5px;
}

.rights1 {
    color: rgb(0, 0, 0);
    font-weight: bold;

    margin-top: 333px;
}

.rights1 p{
    margin-left: 50px;
}